{% extends 'account/profile.html' %}
{% block title %}follower{% endblock %}
{% block header %}{{ username }}{% endblock %}
{% block content %}
    <div class="main-detail">
    {% if users %}
           <h2>followers:</h2>
        <ul>
            {% for account in users %}
                <p style="font-size: 20px"><a  href={% url 'user_detail' account.user_id %}>{{ account }}</a></p>
            {% endfor %}
        </ul>
    {% else %}
        <h1 style="color: #642f5c">No follower!</h1>
    {% endif %}
    </div>
{% endblock %}


