{% load static %}
{% load user_tags %}
{% load post_custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'user/pro_style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Profile{% endblock %}</title>
</head>
<body>
<header>
    <a href="{% url 'profile' %}"><img src="{% static 'images/logo.jpeg' %}" class="logo" alt="logo"></a>


    <div class="header-svg">
        {% if not request.user.pr_image %}
            <a href="{% url 'profile' %}"><span
                    class="svg" style="width: 30px;">  {% include 'account/img/user (3).svg' %}</span></a>
        {% else %}
            <a class="test" href="{% url 'profile' %}">
                <img style="position: absolute;right: 110px;margin-top: 4px;border-radius: 50%"
                     src="{{ request.user.pr_image.url }}"
                     width="40px"
                     height="40px" alt="profile-pic">
            </a>
        {% endif %}

        <a class="test" href="{% url 'Request_List' %}"><span
                class="svg">  {% include 'account/img/heart.svg' %}</span></a>
        <a class="test" href="{% url 'user-profile' %}"><span
                class="svg">  {% include 'account/img/home.svg' %}</span></a>
        <a class="test" href="{% url 'search' %}"><span
                class="svg">  {% include 'account/img/search (1).svg' %}</span></a>
        <a class="test" href="{% url 'add_new_post' %}"><span
                class="svg">  {% include 'account/img/plus.svg' %}</span></a>
        <a class="test" href="{% url 'logout' %}"><span
                class="svg">  {% include 'account/img/log-out.svg' %}</span></a>

    </div>

</header>
<main>
    <div class="main" style="border-bottom: 1px solid #CCD1D1">
        <div>
            {% if not request.user.pr_image %}
                <a href="{% url 'edit' request.user.id %}"><span
                        style="position: absolute;left: 250px;width: 150px"
                >  {% include 'account/img/user (3).svg' %}</span></a>
            {% else %}
                <a class="test" href="{% url 'edit' request.user.id %}">
                    <img style="position: absolute;left: 230px;margin-top: 4px;border-radius: 50%"
                         src="{{ request.user.pr_image.url }}"
                         width="150px"
                         height="150px" alt="pr-pic">
                </a>
            {% endif %}
        </div>
        <div style="margin-left:0;position: absolute;left:500px;font-size: 20px">
            <div>
                {{ request.user.email }} &nbsp;&nbsp;
                <button><a href="{% url 'edit' request.user.id %}"> Edit Profile</a></button>
                <button><a href="{% url 'change-pass' %}"> Change Pass</a></button>
            </div>
            <div style="margin-top: 20px">
                <a href="{% url 'my_post_list' %}">{% p_cnt request.user.id %} Posts</a>&nbsp;&nbsp;
                <a href="{% url 'my_follower' %}">{% follower_cnt request %} Followers</a>&nbsp;&nbsp;
                <a href="{% url 'my_following' %}">{% following_cnt request %} Following</a>
            </div>

        </div>
        {% block content %}
        {% endblock %}
    </div>
</main>
</body>
</html>